header>nav>ul>li {
    display:inline-block;
    /* float:right; */
    margin-top: 15px;
    margin-right: 30px;
    font-size: 20px;  
}

header>script> {
    background-color: pink;
}

/* Cards Section */
.section1{
    background-color: red;
    width:100%;
}
 
.section1 img {
    float: right;
    height: 300px;
    width: auto;
}

.section1 p {
    height:300px;
    /* font-size: 40px; */
}

/* Tokens Section */
.section2{
    background-color: green;
    width:100%;
}



.section2 img {
    float: left;
    height: 300px;
    width: auto;
}

.section2 p {
    text-align: right;
    height:300px;
    /* font-size: 40px; */
}







/* Dice Section */
.section3{
    background-color: blue;
    width:100%;
}



.section3 img {
    float: right;
    height: 300px;
    width: auto;
}

.section3 p {
    height:300px;
    /* font-size: 40px; */
}







/* Playmats Section */
.section4 {
    background-color: yellow;
    width:100%;
}



.section4 img {
    float: left;
    height: 300px;
    width: auto;
}

.section4 p {
    text-align: right;
    height:300px;
    /* font-size: 40px; */
}
